html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.hidden {
    display: none !important;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

body{
    background-color: #D9D9D9;
}

.screen{
    width: 1200px;
    color: #F2E6E6;
    background-color: #FFFFFF;
    position:absolute;
    min-height: 100%;
    z-index:15;
    left:50%;
    margin:0px 0 0 -600px;
    padding-bottom: 380px;
}

/*   NERMIN LOGO */
        #logo-body{
            margin: auto;
            width: 880px;
            height: 455px;
            background-color: #E0E0E0;
        }

        .login-big{
            margin: auto;
            width: 880px;
            height: 455px;
            background-color: #E0E0E0;
            margin-top: 63px;
            margin-bottom: 63px;
        }

        .login{
            margin: auto;
            width: 490px;
            height: 275px;
            background-color: #FFFFFF;
            border-radius: 2%;
            border-color: #A3A3A3; 
            border-style: solid;
            border-width: 1px;
            margin-bottom: 25px;
        }

        .sub-login{
            width: 490px;
            height: 90px;
            float: right;
            text-align: right;
            margin-right: 27px;
            padding-bottom: 25px;
        }

        .input-login-u{
            width: 435px;
            height: 45px;
            margin-left: 25px;
            border-radius: 5px;
            border-color: #A3A3A3;
            border-style: solid;
            border-width: 1px;
            margin-bottom: 1px;
            padding-left: 5px;
            font-size: 25px;
            font-family: Trebuchet MS;
        }

        .input-login-p{
            width: 435px;
            height: 45px;
            margin-left: 25px;
            border-radius: 5px;
            border-color: #A3A3A3;
            border-style: solid;
            border-width: 1px;
            margin-bottom: -10px;
            padding-left: 5px;
            font-size: 25px;
        }

        .input-slika-login{

            margin-left: 25px;
        }
        #login-logo{
            padding-top: 5%;
            margin-left: 40%;
            width: 150px;
            height: 60px;
        }

        .login-btn{
            font-size: 11px;
            border-style: none;
            height: 40px;
            background-color: #D92528;
            padding: 3%;
            color: white;
            margin-left: 10px;
        }
/*End of Nermin CSS Login Student*/

/*ooestecu css - Tarik*/

    .meni {
        height: 5vmax;
        width: 100%;
    }

    .header {
        background-color: #C91619;
        padding-top: 3vmin;
        padding-left: 4%;
        padding-bottom: 2vmin;
        height: 7vmin;
        font-size: 4vmin;
        color: white;
        font-family: serif;
        font-weight: bold;
        width: 96%;
    }

    #text {
        padding: 1vmin 4% 1vmin 4%;
        margin: 2vmin 0vmin 2vmin 0vmin;
        font-family: Trebuchet MS;
        width: 92%;
        font-size: 2vmin;
    }   

    #slika {
        height: 200vmin;
        padding-top: 5vmin;
        width: 100%;
        display: block;
        text-align: center;
    }

    div img {
        max-width: 100%;
    }
/*.....................*/
div.logo a {
    text-decoration:none;
    color: white;
    font-family: "Trebuchet MS";
    font-size: 110%;
    display:inline-block;
}

#footer {
    position: absolute;
    bottom: 0;
    padding-top: 93px;
    margin: auto;
    max-width: 1200px;
    width: 100%;
    background-color: #363738; 
}     

.icons ul li{
    display: inline-block;
    height: 50px;
    width: 60px;
    text-align: center;
}
.icons {
    width: 340px;
    margin: auto;
}

.linkovi-footer{
    margin-right: 4%;
}
.linkovi-footer:last-child{
    margin-right: 0;
}

.pratite{
    color: white;
    text-align: center;
}

.foot-link{
    text-align: center;
}

.foot-link ul li{
    display: inline-block;
    text-decoration: none;
    margin-right: 3%;
}

.foot-link ul:last-child{
    margin-right: 0;
}

@media(max-width : 700px )
{

    .foot-link{
    }
    div.logo a {
        font-size: 0%;
    }    
    #footer{
        height: 240px;
        font-size: 80%;
    }
}
/*dosta vise tarika :P*/

/*Nermin contactform*/

#contact-body{
            margin: auto;
            width: 100%;
            height: 100%;
            background-color: #FFFFFF;
            line-height: 100%;
        }
        .middle{
            width: 800px;
            height: 300px;
            margin: auto;
        }
        .contact{
            width: 95%;
            height: 19%;
            background-color: #C91619;
            color: white;
            padding-left: 5%;
            padding-top: 1%;
            vertical-align: center;
        }
        .division{
            width: 45%;
            height: 80%;
            float: left;
            display: inline;
            margin-right: 3%;
            padding-top: 5%;
            padding-left: 2%;
        }
        #contact_name_mail{
            width: 100%;
            height: 25px;
            margin-top: 5%;
            margin-bottom: 5px;
            border-radius: 4%;
            border-color: #A3A3A3;
            border-style: solid;
            border-width: 1px;
        }
        #contact-message{
            width: 100%;
            height: 100px;
            margin-bottom: 5%;
            margin-top: 5%;
            border-radius: 4%;
            border-color: #A3A3A3;
            border-style: solid;
            border-width: 1px;
        }
        .bord_names{
            width: 100%;
            height: 15%;
            line-height: 100%;

        }
        p.name{
            font-size: 20px;
            margin-bottom: 0;
        }
        p.pozicija{
            font-size: 12px;
            margin: 0;
        }
        p.broj_mail{
            font-size: 12px;
            color: #C91619;
            margin: 0;
        }
        .sendmailbutton{
            text-align: center;
            float: right;
            background-color: #C91619;
            color: white;
            font-size: 15px;
            border-style: none;
            height: 35px;
            padding: 3%;
            width: 35%;
            border-radius: 4%;
        }

/*Bice jos izmjena*/


/*Menu*/
.top{
    background-color: #696969;
    border-radius: 17px;
    bottom: 2em;
    display: none;
    opacity:0.7;
    padding: 1.5em;
    position: fixed;
    right: 1.5em;
    text-decoration: none;
    width: 5px;
    height: 5px;
}

.top:hover {
    opacity: 1;
    transition: 1s;
    border: 3px solid #696969;
    background-color: #505050;
    border-radius: 5px;
    width: 5px;
    height: 5px;
}

.top img {
    position: relative;
    width: 35px;
    height: 35px;
    right: 15px;
    bottom: 15px;
}

.container-fluid{
    width: 100%;
}

/*menu the end*/

/* Prikaz kompanija*/
.company
{
    margin: auto;

}
#info_company
{
            width: 660px;
            height: 330px;

            background-color: #ffffff;
            margin-left: 30px;
            margin-top: 50px;
}


#about_company
{
           
            width: 660px;
            height: 700px;
            background-color: #ffffff;
            margin-left: 730px;
            margin-top: -520px;
            
}
#contact_company
{
            width: 660px;
            height: 160px;
            background-color: #ffffff;
            margin-left: 30px;
            margin-top: 30px;
}
#advert_company
{
            width: 660px;
            height: 165px;
            background-color: #ffffff;
            margin-top: 20px;
            margin-left: 730px;
            
}
/* end of kompanije prikaz */


/*memi baner*/


.header-row
{
    height:420px;
    width:100%;
    background-color: #D92528;
/*    position: absolute;*/
}

.header-text
{
/*    background-color: #D92528;*/
    width:55%;
    float:left;
/*    border:1px solid black;*/
    margin-left:45px;
    margin-top:120px;
}

.header-pic
{
    width:40%;
    height:100%;
    float:right;
    border:1px solid black;
}

.header-title
{
    color:white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 42px;
}   

.header-title-small
{
    color:white;
    font-size: 18px;
    width:70%;
    font-weight: 100;
}

.button-oprojektu
{
    background-color: white;
    border-radius: 13px;
    border: none;
    color: #D92528;
    padding:5px 25px;
    margin-top:30px;
    font-weight: 200;
}

.button-oprojektu:hover{
    font-weight: 400;
    padding-right: 23px;
}

@media(max-width : 980px )
{
    .header-pic
    {
        height:0;
        width:0;
    }
    
    .header-text
    {
        width:90%;
    }
}

@media(max-width : 600px )
{
    .header-pic
    {
        height:0;
        width:0;
    }
    
    .header-text
    {
        width:90%;
        margin-top:90px;
    }
    
    .header-title
    {
        font-size:35px;
    }
}

/*end of memi baner*/

.cv_partner{
    width: 660px;
    margin: auto;
}

.cv_partner ul li{
    display: inline-block;
    text-align: center;
    margin-right: 40%;
}

.cv_partner ul li:last-child{
    margin-right: 0%;
}

.cv_partner ul li a{
    text-decoration: none;
    color: #D92528;
    font-weight: 400;
}

.cv_partner ul li a:hover{
    text-decoration: none;
    color: #D92528;
    font-weight: 800;
}



#first-link:hover img{
    background-image: url('../img/cv-partner/cv2.png');
}

#second-link:hover img{
    background-image: url('../img/cv-partner/partner2.png');
}

/*googlemaps*/
  #map {
    width: 1200px;
    height: 500px;
    bottom: 0;
  }
/*end of googlemaps*/


/*landing novosti*/

.btn.btn-default {
    margin-top: 70px;
    margin-right: 5px;
    font-family: 'Roboto';
    font-size: 120%;
    border: 1px solid #C91619;
    color: #C91619;
    border-radius: 10px;
    border-style: solid;
    width: 140px;
    height: 40px;
}

.btn-box{
    float: right;
    height: 150px;
    margin-top: 25px;
}

.row {
    height: 200px;
}

.novosti{
    width: 90%;
    margin: auto;
}

.border-novost{
    width:102%; 
    margin-left:-1%; 
}

.img-novost{
    float: left;
    width: 300px;
    height: auto;
    border:none;
}

.img-block{
    margin-top: 25px;
    float: left;
    margin-left: 5px;
    width: 300px;
    height: 150px;
    border:none;
}

.novost-tekst{
    font-family: 'Roboto';
    margin-top: 15px;
    margin-left: 35px;
    float: left;
    width: 500px;
    height: 150px;
    color: #909191;
    font-size: 130%;
    font-weight: 100;
}

.novost-naslov{
    font-family: 'Roboto';
    margin-bottom: 10px;
    font-size: 180%;
    font-weight: 300;
}

/*end of landing novosti*/