.naslov {
	color:white;
	background-color:#C91619; 
	padding-left: 10%;
	padding-right: 5%;
	height: 300px;
	padding-top: 2%;
	display: block;
}

.tekst{
	padding-top: 2%;
}

.tekst .col-3 {
	padding-left: 10%;
}

.col-3 li{
	padding-right: 5%;
}

.tekst .col-9 {
	padding-right: 10%;
}

.slike li{
	list-style-type: none;
	display: inline-block;
	padding-right: 10px;
	padding-bottom: 10px;
}

.col-9 p {
	font-family:'Trebuchet MS';
}