	<div class="header-row">
        <div class="header-text">
            <div class="header-title">Jobfair '15<br/>Iskoristi svoju šansu!</div>
            <div class="header-title-small"><br/>Sajam zapošljavanja za studente i diplomce tehničko-tehnoloških fakulteta i ekonomije</div>
            <br/><br/>
            <input type="button" value="O projektu" class="button-oprojektu" onclick="poziv('partials/ojobfairu-full.php')">
        </div>
        <div class="header-pic"><img alt="" src="img/baner.png"></div>
	</div>  
