	<div class="header-row">
        <div class="header-text">
            <div class="header-title">Jobfair '15<br/>Iskoristi svoju šansu!</div>
            <div class="header-title-small">Sajam zapošljavanja za studente i diplomce tehničko-tehnoloških fakulteta i ekonomije</div>
            <div class="header-title-small">Kampus Univerziteta u Sarajevu<br/>9. i 10. novembar</div>
            <input type="button" value="O projektu" class="button-oprojektu" onclick="poziv('partials/ojobfairu-full.php')">
        </div>
        <div class="header-pic"><img height=410px alt="" src="img/baner.png"></div>
	</div>  
