			<div class="forma">
				<div class="form-box">
					<label for="name">Ime</label>
					<input type="text" name="name" class="input-login-u" style="float:right;" size="35"><br>
				</div><br>
				<div class="form-box">
					<label for="email">E-mail*</label>
					<input type="text" name="email" class="input-login-u" style="float:right;" size="35"><br>
				</div><br>
				<div class="form-text">
					<label for="message">Poruka*</label>
					<textarea name="message" id="contact-message" rows="8"></textarea>
				</div>
				<div class="form-btn">
					<button type="submit" value="send" class="sendmailbutton">Pošalji</button>
				</div>
			</div>
			<div class="division">
                <div class="all-contacts">
				<div class="bord_names">
					<p class="name">Edita Milišić</p>
					<p class="pozicija">Glavni organizator projekta</p>
					<p class="broj_mail">edita.milisic@jobfair.ba<br>
										+387 62 606 856</p>
				</div>
				<div class="bord_names">
					<p class="name">Damir Bezdrob</p>
					<p class="pozicija">Koordinator tima za ljudske resurse i logistiku</p>
					<p class="broj_mail">damir.bezdrob@jobfair.ba<br>
										+387 62 214 887</p>
				</div>
				<div class="bord_names">
					<p class="name">Lejla Nukić</p>
					<p class="pozicija">Koordinator tima za odnose sa kompanijama</p>
					<p class="broj_mail">lejla.nukic@jobfair.ba<br>
										+387 62 329 552</p>
				</div>
				<div class="bord_names">
					<p class="name">Aldin Kiselica</p>
					<p class="pozicija">Koordinator tima za informatičku podršku</p>
					<p class="broj_mail">aldin.kiselica@jobfair.ba<br>
										+387 61 760 892</p>
				</div>
				<div class="bord_names">
					<p class="name">Berina Cocalić</p>
					<p class="pozicija">Koordinator tima za dizajn i publikacije</p>
					<p class="broj_mail">berina.cocalic@jobfair.ba<br>
										+387 61 900 511</p>
				</div>
				<div class="bord_names">
					<p class="name">Ilma Čengić</p>
					<p class="pozicija">Koordinator tima za odnose s javnošću</p>
					<p class="broj_mail">ilma.cengic@jobfair.ba<br>
										+387 61 113 070</p>
				</div>
                    </div>
			</div>