<div class="logo">
    <div id="footer">
    <div class="foot-link">
        <ul>
            <li><a class="linkovi-footer" id="prvi-link"; href="#">O PROJEKTU</a></li>    
            <li><a class="linkovi-footer" href="#">UČESNICI</a></li>
            <li><a class="linkovi-footer" href="#">POSTANI PARTNER</a></li>
            <li><a class="linkovi-footer" href="#">GALERIJE</a></li>
            <li><a class="linkovi-footer" href="#">LOGIN</a></li>
            <li><a class="linkovi-footer" id="zadnji-link" href="#">KONTAKT</a></li>
        </ul>
    </div>
    <br class="f-br">
    <br class="f-br">
        <p class="pratite"> Pratite nas na: </p>
        <div class="icons">
            <ul>
                <li><a href="https://www.facebook.com/JobfairIskoristiSvojuSansu?fref=ts" target="_blank"><img src="img/social-media/fb.png"></a></li>
                <li><a href="https://twitter.com/eestecSarajevo" target="_blank"><img src="img/social-media/tw.png"></a> </li>
                <li><a href="https://www.youtube.com/channel/UCkgxBmmVQntgxUOBTPEcslA" target="_blank"><img src="img/social-media/yt.png"></a></li>
                <li><a href="https://ba.linkedin.com/pub/eestec-lc-sarajevo/a0/390/347" target="_blank"><img src="img/social-media/in.png"></a></li>
            </ul>
        </div>
    <br class="f-br">
    <br class="f-br">
    <br class="f-br">
    <center><p>© Copyright 2015 EESTEC LC Sarajevo</p></center>
    <br class="f-br">
    </div>
</div>
