	<div class="header">
		Login za studente
	</div>
	<div class="login-big">
		<div id="login-logo">
			<img src="img/logo/logo.png" alt="logo"> 
		</div>
		<div class="login">
			<div style="margin:15px 25px 10px 25px;">
				<img class="icon icons8-Gender-Neutral-User" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAABy0lEQVRIS+2U3VFbMRCFz14VEOiAEhSpAJsKgAqACkIHcTqACoAK4lRgpwAJlUAHJAWsNrN35BnGvpLu+IEXsq/6+fbn7CF8UNAHcfCJQc65GyK6EJGltpuItgDWIYTnOe3vts5ae2KMeQRwqR+KyO8CWhTAmplvU0p/WsAuyHv/BOBaRB5yzqvdh5rAMAwrIvqmZzHGu6NB1lprjHkB8CuEMFa0H977NYALZv6aUko1WLMi55xm/L31yS4ZEfkRY1wdC9oS0SKE0EzIey+tqseZtvrqnLvXGTDzaW3YRSxvvTn1QCrpRxG5jTGqKA6iyL55p1tRyfZVRCTnrMN+fU/S+QzDsCEiYuazlsS78rbWLo0xa4UBeBIRVZkurKpQK1bIZUpJF7gaXZC+3Klv6pee2nZvmqDSup8A1Hb+quWIyNg+IjorbvEFwJaZr45qXYFsAFjNOud8v/9RcYc73TUAiZnPa7BqRc65cYcAXIUQxrnUwnuv89LKtyGE86l7k6AigM3c/r+fY6nqQBiToOJfy55k96SuLq/z06oOfLEGUsuffNBpoYplEWM83b9XA+naNE2y4hKjCU9546w9alUx9+w/aG6nDu79A6pTACrcYqXhAAAAAElFTkSuQmCC" width="26" height="26"> E-mail 
			</div>
			<input type="text" name="username" class="input-login-u" size="35"> <br>

			<div style="margin:15px 25px 10px 25px;">
				<img class="icon icons8-Privacy" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAB2klEQVRIS62W4VHDMAyFpXgA2ACYgGAPAExAu0E7Ad2AskGZgG5AOwEwgFRvAGwAA8TixNlcCnHSXJJ/ucj6JPXJrwgHPGVZHhdFcYuIEwAo4xEvIpsQwoP3/rMrDXYFOOcmIvKIiMdNsSLyiYhzItq05WoFKQQAnmKCbVVVK+/9i76XZXlVFMUSES/j92kbLAuK43rTTkRkzszrpoqttQq7085CCGe5MWZBKQEAbIlIO8s+1toX7UxE7pl52RTYBvKIeF5V1XUaV46kYzTGPAOAJ6KLXiDnnOgBIuoUjMZ1xWeTdB38W3VX/B4oKkmlfNol+7bvIvIeQpjXR74Hsta+I+LJEEg6qzBmPkvve6DU/higv79vH9C/hTXGLADgJldYXUgHgToWdoaIj02wvqCfhY03xR0AzABAF3OVkjvn9J7711kvUFpYa+0KEW+bdqu2sHuN9QKlYOecWsGRZhKRJTPfW2sXqbMmIQ0G1cr+IqIf+xgMahpdbVcemHkxyugAYENE0ygGtQQVg45vHUJYqi2MIoaYtM2PRpN3mpT+P1jtdrvX5LDGGFVh1qt6iWHIddQG+pXwEEAc9wcz/7pAk02sh97gIvIRQphlbWJoF23nD7LpMQr4Bh7jLyqlQLAJAAAAAElFTkSuQmCC" width="26" height="26"> Password
			</div>
			<input type="password" name="password" class="input-login-p" size="35"> <br> <br>
			<div class="sub-login">
				<button type="submit" value="forget" class="login-btn">Zaboravljena šifra</button>
				<button type="submit" value="login" class="login-btn">Prijava</button>
			</div>
		</div>
	</div>
