	<div class="login-big">
		<div id="login-logo">
			<img src="img/logo/logo.png" alt="logo">
		</div>
		<div class="login">
			<img src="img/login/username.png" alt="username" class="input-slika-login"> <br>
			<input type="text" name="username" class="input-login-u" size="35"> <br>
			<img src="img/login/password.png" alt="password" class="input-slika-login"> <br>
			<input type="password" name="password" class="input-login-p" size="35"> <br> <br>
			<div class="sub-login">
				<button type="submit" value="forget" class="login-btn">Zaboravljena šifra</button>
				<button type="submit" value="login" class="login-btn">Prijava</button>
			</div>
		</div>
	</div>
