      <nav class="navbar-default" id="menu">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href=""><img class="logo-img" src="img/logo/jf_logo.png"/></a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#" onclick="poziv('partials/oeestecu-full.php')">O nama</a></li>
              <li><a href="#" onclick="poziv('partials/ojobfairu-full.php')">O projektu</a></li>
<!--              <li><a href="#" >Učesnici</a></li>
              <li><a href="#" >Postani partner</a></li>
-->              <li><a href="#" onclick="poziv('partials/gallery-full.php')">Galerija</a></li>
              <li><a href="#" onclick="poziv('partials/login-full.php')">Login</a></li>
              <li><a href="#" onclick="poziv('partials/contact-full.php')">Kontakt</a></li>
            </ul>
          </div>
        </div>
      </nav>

      <a href="#"class="top"><img src="img/uparrow.png" align="middle"/></a>