      <nav class="navbar-default" id="menu" style="border-radius:0px">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/"><img class="logo-img" src="img/logo/jf_logo.png"/></a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">

              <li><a href="#oeestecu">O nama</a></li>
              <li><a href="#ojobfairu">O projektu</a></li>
              <li><a href="#ucesnici" >Učesnici</a></li>
              <li><a href="#postani-partner" >Postani partner</a></li>
              <li><a href="#galerije">Galerija</a></li>
              <li><a href="#login">Login</a></li>
              <li><a href="#kontakt">Kontakt</a></li>

            </ul>
          </div>
        </div>
      </nav>

      <a href="#"class="top"><img src="img/uparrow.png" align="middle"/></a>
