  	<div class = "novosti">
	  	<div class="row-news">
        <div class="img-block">
          <img class="img-novost" src="img/logo/logo.png" alt="">
        </div>
        <div class="novost-tekst">
          <div class="novost-naslov">Naslov</div>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
          </p>
        </div>
        <div class="btn-box">
          <a class="btn btn-default" href="#" role="button">Opširnije</a>
        </div>
	  	</div>
	  	<hr class="border-novost">
  	</div>
    <div class = "novosti">
      <div class="row-news">
        <div class="img-block">
          <img class="img-novost" src="img/logo/logo.png" alt="">
        </div>
        <div class="novost-tekst">
          <div class="novost-naslov">Naslov</div>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
          </p>
        </div>
        <div class="btn-box">
          <a class="btn btn-default" href="#" role="button">Opširnije</a>
        </div>
      </div>
      <hr class="border-novost">
    </div>
    <div class = "novosti">
      <div class="row-news">
        <div class="img-block">
          <img class="img-novost" src="img/logo/logo.png" alt="">
        </div>
        <div class="novost-tekst">
          <div class="novost-naslov">Naslov</div>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
          </p>
        </div>
        <div class="btn-box">
          <a class="btn btn-default" href="#" onclick="poziv('partials/news-full.php')" role="button">Opširnije</a>
        </div>
      </div>
      <hr class="border-novost">
    </div>
    <div class="btn-div">
      <input class="btn-show-more" type="button" value="Učitaj više">
    </div>