	<div class="header">
		O JobFAIR-u	
	</div>
	<br><br>
	<p id="text">
		JobFAIR je sajam koji okuplja ambiciozne studente i diplomce tehničko-tehnoloških fakulteta u procesu traženja posla i usavršavanja u struci. Ove godine održat će se 9. i 10. novembra u organizaciji Udruženja studenata elektrotehnike Evrope - EESTEC, lokalni komitet Sarajevo. Tehničko-tehnološka zanimanja uključuju područja istraživanja inženjerskih nauka poput računarsko-informatičkih, elektrotehnike, mašinstva, saobraćaja, telekomunikacija, građevine, arhitekture i slično.
		<br>
		<br>
		<br>
		Projekat predstavlja mogućnost da poslodavci i studenti pronađu zajednička interesovanja na polju zaposlenja, što podrazumijeva izvrsnu priliku za studente da usavrše lični profil, a za kompanije jednostavniji pronalazak stručnog kadra te mogućnost ostvarivanja kontakta sa studentima kao i sa drugim kompanijama. Tokom Sajma predstavnici kompanija imaju priliku upoznati studente sa načinom rada unutar kompanije, programima zapošljavanja, usavršavanja i praksi koje imaju te im pružiti detaljne informacije o profesionalnoj i ličnoj karti koju potencijalni uposlenici trebaju ispuniti.
	</p>
	<div id="slika">
	</div>